* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #ff93db, #91e595); /* Pink gradient background */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    cursor: pointer;
    border: none;
    outline: none;
    background: #ff4081; /* Pink button background */
    font-size: 1rem;
    color: white;
    margin: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow */
    z-index: 1;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
    text-align: center;
    border-radius: 10px;
}

.button:hover {
    transform: translateY(-3px); /* Move up on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.notification {
    width: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    height: inherit;
    position: relative;
    color: transparent;
}

.notification::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: attr(data-count);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4081; /* Pink notification background */
    position: absolute;
    top: -5px;
    right: -5px;
    transition: opacity 0.3s, transform 0.3s; /* Smooth transitions */
    opacity: 0;
    transform: scale(0.5);
}

.notification::before {
    content: "\f0f3";
    font-family: "Font Awesome 5 Free";
    display: block;
    color: black;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.notification.count::after {
    opacity: 1;
    transform: scale(1);
}

.notification.notify::before {
    animation: bell 1s ease-in-out infinite; /* Make bell animation continuous */
}

@keyframes bell {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
